---
import { BASE_URL } from "~/utils/apliInstance";
import WidgetWrapper from "../ui/WidgetWrapper.astro";
import Logo from '~/components/Logo.astro';


const {
  id,
  isDark = true,
  classes = {},
} = Astro.props;
const fallbackdata = [
  {
    id: 2,
    title: "Home Stairlift Assessment",
    slug: "home-stairlift-assessment",
    icon: "home",
  },
  {
    id: 3,
    title: "Stairlift Consultation",
    slug: "stairlift-consultation",
    icon: "mark_unread_chat_alt",
  },
  {
    id: 4,
    title: "Professional Stairlift Installation",
    slug: "professional-stairlift-installation",
    icon: "settings",
  },
  {
    id: 5,
    title: "Safety Checks & User Guidance",
    slug: "safety-checks-and-user-guidance",
    icon: "safety_check",
  },
  {
    id: 6,
    title: "Repair & Maintenance Services",
    slug: "repair-and-maintenance-services",
    icon: "tire_repair",
  },
  {
    id: 7,
    title: "Stairlift Replacement & Upgrades",
    slug: "stairlift-replacement-and-upgrades",
    icon: "find_replace",
  },
];

let pageData =fallbackdata
try {
  const res = await fetch(`${BASE_URL}/items/Services`);
  if (res.ok) {
    const apiData = await res.json();
    pageData = apiData?.data ?? fallbackdata;
  }
} catch (error) {
  console.warn("Directus About API failed, using fallback data");
}

---

<WidgetWrapper
  id={id}
  isDark={false}
  containerClass=" mx-auto"
  sectionBgClass="bg-[rgba(0,0,0,0.06)]"
>
<footer class="py-12 w-full lg:min-h-[578px]">

    <div class="px-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">

      <!-- WHAT WE DO -->
      <div>
        <h4 class="text-xl md:text-2xl lg:text-3xl font-bold tracking-wider text-gray-400 uppercase mb-4">
          What We Do
        </h4>
        <ul class="text-lg md:text-xl lg:text-[24px]          space-y-3 text-gray-800 ">
          <li>Stairlift Assessment</li>
          <li>Stairlift Consultation</li>
          <li>Stairlift Installation</li>
          <li>User Guidance</li>
        </ul>
      </div>

      <!-- ABOUT US -->
      <div>
        <h4 class="text-xl md:text-2xl lg:text-3xl font-bold  tracking-wider text-gray-400 uppercase mb-4">
          About Us
        </h4>
        <ul class=" text-lg md:text-xl lg:text-[24px]  space-y-3 text-gray-800 ">
          <li>About HomeFree Stairlift</li>
        </ul>
      </div>

      <!-- SERVICE -->
      <div>
        <h4 class="text-xl md:text-2xl lg:text-3xl font-bold  tracking-wider text-gray-400 uppercase mb-4">
          Service
        </h4>
        <ul class="text-lg md:text-xl lg:text-[24px]  space-y-3 text-gray-800 ">
          {pageData.map((service:any) => (
          <li>
               <a  href={`/services/${service?.slug}`} class="hover:underline">{service.title}</a>
          </li>
          ))}
      
        </ul>
      </div>

      <!-- LEGALS -->
      <div>
        <h4 class="text-xl md:text-2xl lg:text-3xl font-bold tracking-wider text-gray-400 uppercase mb-4">
          Legals
        </h4>
      
        <ul class="text-lg md:text-xl lg:text-[24px] space-y-3 text-gray-800">
          <li>
            <a href="/privacy-and-policy" class="hover:underline">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="/terms-and-conditions" class="hover:underline">
              Terms & Conditions
            </a>
          </li>
        </ul>
      </div>
      

    </div>

    <!-- Bottom Section -->
    <div class="mt-12  flex flex-col md:flex-row items-center justify-between gap-6">

      <!-- Logo -->
      <div class="flex items-center gap-2">
        <div class="  rounded-md flex items-center justify-center">
          <!-- Icon placeholder -->
        <Logo />
        </div>
        
      </div>

      <!-- Contact -->
      <div class="text-sm text-gray-900">
        Call now, Toll Free:
        <span class="font-semibold">0000000000</span>
      </div>
      

    </div>
  </footer>
</WidgetWrapper>
